__pycache__

.env

data/*
data/iat/*
!data/iat/
!data/iat/procedures_df.csv
!data/iat/tasks_df.csv

*.pt
*.pth

*-info/

outputs/*
ChatLLM_outputs/*

.venv/*

SurgVLP/*
co-tracker/*

surgfbgen/logs/*

uv.lock