.venv/*
__pycache__/*

keys.json
*checkpoints/*
outputs/embeddings/

plan.md

research/checkpoints/
research/logging/
research/outputs/embeddings/
research/tmp

data/

research/evals/cluster_iat/*.pkl