.venv/*
__pycache__/*

keys.json
*checkpoints/*
outputs/embeddings/

plan.md

research/checkpoints/
research/logging/
research/outputs/embeddings/
research/tmp

data/CholecT45-related/
data/tmp/
data/urology-related
data/iat/extractions_df.csv
data/iat_predictor_splits/*

*.pt

research/outputs/evals/cluster_iat/*.pkl

*-info/